<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Paridhi Modi</title>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
</head>
<style>
body, html {
  height: 100%;
  margin: 0;
}
#grad{
  background-image: url('https://image.freepik.com/free-vector/abstract-health-medical-science-healthcare-icon_36402-363.jpg')
}
}
h1{color: white;}
h2 {color: white;}
h4{color: white;}
</style>
<body id="grad">
    <div>
            <h1 align="center">Malaria Detector</h1>
    </div>
    <div class="container">
        <div id="content" style="margin-top:4em">{% block content %}{% endblock %}</div>
    </div>
</body>

<footer>
    <script >
        $(document).ready(function () {
            // Init
            $('.image-section').hide();
            $('.loader').hide();
            $('#result').hide();
            // Upload Preview
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
                    $('#imagePreview').hide();
                    $('#imagePreview').fadeIn(650);}
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#imageUpload").change(function () {
            $('.image-section').show();
            $('#btn-predict').show();
            $('#result').text('');
            $('#result').hide();
            readURL(this);
        });

        // Predict
        $('#btn-predict').click(function () {
            var form_data = new FormData($('#upload-file')[0]);

            // Show loading animation
            $(this).hide();
            $('.loader').show();

            // Make prediction by calling api /predict
            $.ajax({
                type: 'POST',
                url: '/predict',
                data: form_data,
                contentType: false,
                cache: false,
                processData: false,
                async: true,
                success: function (data) {
                    // Get and display the result
                    $('.loader').hide();
                    $('#result').fadeIn(600);
                    $('#result').text(' Result:  ' + data);
                    console.log('Success!');
                },
            });
        });

    });
    </script>
</footer>

</html>
