{% extends "base.html" %} {% block content %}

<h4 align="center">Please upload a blood cell image</h4>
<div>
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <label for="imageUpload" class="upload-label">
            Choose
        </label>
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
    </form>

    <div class="image-section" style="display:none;">
        <div class="img-preview">
            <div id="imagePreview">
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-info btn-lg " id="btn-predict">Predict</button>
        </div>
    </div>

    <div class="loader" style="display:none;"></div>

    <h4 id="result" align="center">
        <span> </span>
    </h4>

</div>

{% endblock %}